.about{    
    display: flex;
    flex-direction: column;
    background-color: var(--ltblue);
    justify-content: center;
    align-items: center;  
}

.aboutContainer{
    width: 75%;
    max-width: 900px;
    margin: 2rem;
    gap: 1.5rem;
}
.headshot{
    width: 275px;
    height: 400px;
    object-fit: cover;
    position: relative;
    float: left;
    margin-right: 1rem;
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}
