.about{    
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;  
}

.aboutContainer{
    width: 75%;
    max-width: 900px;
    margin: 2rem;
    gap: 1.5rem;
}

.name{
    color: var(--mainblue);
    margin-bottom: 0;
}

.headshot{
    width: 275px;
    height: 50vh;
    object-fit: cover;
    float: left;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    z-index: -1;
}
