.about{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.about a {
    padding-right: 1rem;
    color: var(--ltblue);
    font-size: .85rem;
}

.about a:hover {
    text-decoration: underline;
    color: var(--green);
}

.aboutContainer{
    width: 75%;
    max-width: 900px;
    margin: 2rem;
    gap: 1.5rem;
}

.name{
    color: var(--mainblue);
    margin-bottom: 0;
}

.headshot{
    width: 275px;
    height: 50vh;
    object-fit: cover;
    float: left;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    z-index: -1;
}

.videoResponsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.videoResponsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.videoWrapper{
    width: 75%;
    max-width: 900px;
}

.videoSection{
    padding: 1.2rem;
    margin-bottom: 2rem;
}

