.root{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex-grow: 1;
}

.root a{
    color:var(--mainblue);
    text-decoration: underline;
}

.root a:hover{
    color:var(--green);
}

.heading{
    color: var(--mainblue);
    margin-bottom: 5px;
    margin-top: 2rem;
}

.paragraph{
    margin-bottom: 8rem;
}

.form{
    width: 75%;
    margin-top: 1rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .root{
        margin-top: 1.75rem;
    }
}
