.footerNav{
    display: flex;
    background-color: var(--ltgrey);
    justify-content: center;
}

.footerNavContainer{
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 900px;
}

.footerNavBlock{
    padding: 1rem 0rem;
}

.footerContactBlock{
    display: flex;
    padding: 1rem 0rem;
    align-items: flex-start;
}

.contactLinks a:hover{
    text-decoration: underline;
}

.headshot{
    display: block;
    width: 7rem;
    border-radius: 50%;
    margin-left: 2rem;
    box-shadow: 3px 1px var(--green);
}

.subFooter{
    background-color: var(--grey);
    color: white;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.dba{
    font-weight: 300;
    color: white;
    margin-top: .5rem;
    font-size: .9rem;
}

.dev{
    font-size: .7rem;
    opacity: .6;
}

@media (max-width: 700px) {
    .footerNavContainer{
        flex-wrap: wrap;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    
    .headshot{
        display: none;
    }
    
    .footerNavBlock, .footerContactBlock{
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .dev{
        display: none;
    }
}

@media (max-width: 430px) {
  .footerNavBlock li,
  .footerContactBlock li{
      display: none;
  }
}