.headerClose{
    z-index: 1000;
}

.headerOpen{
    height: 100vh;
    z-index: 1000;
}

.headLogoContainer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.headLogo{
    width: 30%;
    max-width: 20rem;
    min-width: 13rem;
    margin: auto;
    margin-bottom: 1rem;
}

.subhead{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ltgrey);
    margin: 0;
    padding: 1rem;
}

.subhead h2{
    font-weight: 300;
    margin: 0;
    color: var(--mainblue);
}

.subhead h3{
    color: white;
    font-weight: 300;
    padding-left: .5rem;
}

.navLinkList{
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 900px;
}

.navLinkList .navToggle{
    cursor: pointer;
}

.menuClose, .navCheckbox, .menuOpen, .navToggle{
    display: none;
}

.menuOpen, .menuClose{
    position: relative;
    left: 40vw;
    margin: .2rem 0rem;
    width: 30px;
    height: 30px;
}

.navLinkListContainer{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    background-color: var(--grey);
}

.navOpen{
    flex-grow: 1;
}

.navLinkList a:hover{
    border-bottom: 3px solid var(--green);
}

.selected{
    color: var(--mainblue);
    font-weight: 600;
    pointer-events: none;
}

@media (max-width: 600px) {
    .navLinkList{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .subhead{
        display: none;
    }

    .menuOpen, .navToggle{
        display: block;
    }

    .navLinkList > h4 {
        display: none;
    }

    .navCheckbox:checked ~ h4,
    .navCheckbox:checked ~ .navToggle .menuClose{
        display: block;
    }

    .navCheckbox:checked ~ .navToggle .menuOpen{
        display: none;
    }
  }