.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--ltblue);
}

.backgroundImg{
  width: 100vw;
  background-image: url('/backgroundImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.homeSectionWrapper{
  display: flex;
  width: 75%;
  max-width: 900px;
  margin: 2rem;
}

.aboutBlurb{
  background-color: rgba(255, 255, 255, .65);
  padding: 1.2rem;
  margin-right: 1.5rem;
}

.aboutBlurb span{
  color: var(--mainblue);
  font-weight: 900;
  font-size: 1.25rem;
}

.prep{
  background-color: rgba(24, 112, 184, .65);
  padding: 1.2rem;
  font-size: .9rem;
  color: var(--ltgrey);
}

.taglinesWrapper{
  width: 100vw;
  background-color: var(--ltgrey);
  display: flex;
  justify-content: center;
}

.taglines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 75%;
  max-width: 900px;
  padding: 1rem;
}

.taglines h2{
  font-weight: 300;
  margin: 0;
  color: var(--mainblue);
  padding-right: 1rem;
}

.taglines h3{
  color: white;
  font-weight: 300;
  padding-left: 2.5rem;
  font-size: 1.1rem;
  border-top: 1px solid var(--grey);
}


.valuationsWrapper{
  width: 100%;
  background-color: var(--ltblue);
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.valuations{
  width: 75%;
  max-width: 900px;
  margin: 1.5rem 0;
}

.valuations h3{
  color: black; 
}


.valuationsSection{
  width: 100%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding-top: 1.5rem;
  border-bottom: 3px solid var(--mainblue);
}

.valuationsHead{
  width: 75%;
  max-width: 900px;
}

.valuationsHead > p {
  margin: 0;
  font-size: .9rem;
}

.ulContainer{
  width: 75%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  margin-top: 1rem;
}

.items, .allItems{
  background-color: rgba(255, 255, 255, .5);
  max-width: 30%;
  padding: 1.2rem;
  padding-left: 1.75rem;
  font-size: .75rem;
}

.items li::before,
.allItems li::before {
  content: "\2192";
  color: var(--mainblue);
  margin-left: -.5rem;
  padding-right: .5rem;
}

.allItems{
  display: none;
  visibility: hidden;
}

.itemHeader{
  color: var(--mainblue);
  font-weight: 600;
}

/* need to fix how this is styling 
the column flow */
.valuations ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  
  height: 10rem;
  margin-left: 3rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  .homeSectionWrapper{
    display: flex;
    flex-direction: column;
  }

  .aboutBlurb{
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ulContainer {
    flex-direction: column;
    align-content: center;
    gap: 1rem;
  }

  .items{
    display: none;
    visibility: hidden;
  }
  
  .allItems{
    max-width: 100%;
  }

  .allItems{
    display: block;
    visibility: visible;
  }
}
