.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--ltblue);
}

.backgroundImg{
  width: 100vw;
  background-image: url('/backgroundImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.services{
  background-color: rgba(255, 255, 255, .5);
  width: 75%;
  max-width: 900px;
  padding: 1.2rem;
  margin: 2rem;
  font-size: .9rem;
}

.whySection{
  width: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.whyContainer{
  width: 75%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.whys{
  background-color: rgba(255, 255, 255, .5);
  max-width: 30%;
  padding: 1.2rem;
  font-size: .75rem;
}

.whyHeader{
  color: var(--mainblue);
  font-weight: 600;
}

.expSection{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.exp{
  background-color: var(--mainblue);
  color: var(--ltgrey);
  width: 75%;
  max-width: 900px;
  padding: 1.2rem;
  margin: 2rem;
  font-size: .9rem;
}

.expHeader{
  color: white;
}

@media (max-width: 600px) {
  .whyContainer {
    flex-direction: column;
    align-content: center;
    gap: 1rem;
  }
  .whys{
    max-width: 100%;
  }
}
